version: 2

jobs:
  build:
    docker:
      - image: circleci/python:3.8.0a4-stretch
    steps:
      - run:
          name: Install dependencies (debian)
          command: |
            sudo apt-get update
            sudo apt-get install gcc gfortran make binutils binutils-dev libc6-dev libbsd-dev
            sudo apt-get install libnetcdf-dev libhdf5-dev
            sudo apt-get install ruby rake
            sudo apt-get install python-dev libpython-dev
            sudo apt-get install python-netcdf4
      - run:
          name: Install dependencies cdo binary via conda
          command: |
            wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh && bash miniconda.sh -b -p $HOME/miniconda
            export PATH="$HOME/miniconda/bin:$PATH"
            hash -r
            conda config --set always_yes yes --set changeps1 no
            conda update -q conda
            conda info -a
            conda config --add channels conda-forge
            conda install cdo six numpy xarray
            conda update --all
      - run:
          name: Install dependencies (pip)
          command: |
            python --version
            type -t pip
            pip install unittest2 --user
      - run:
          name: Run Tests
          command: |
            python --version
            git clone https://github.com/Try2Code/cdo-bindings.git
            cd cdo-bindings
            rake testPython CDO=$(type -p cdo) NO_COLOR=1
